<div class="flex flex-col lg:flex-row items-center space-y-12 lg:justify-between px-3 lg:px-6 pt-6 lg:pt-2 mt-6 mb-16 mx-3 lg:mx-10 shadow rounded-lg">
	<div class="flex flex-col items-center space-y-6 font-tajawal lg:w-1/2" x-intersect="$el.classList.add('fadeInUp')">
		<h1 class="max-w-xl text-4xl lg:text-6xl text-gray-800 text-center font-semibold">
			أفضل العروض و بأسعار مغرية اغتنم فرتصك الأن
		</h1>
		<h3 class="text-gray-700 text-lg font-medium">
			سجل بريدك الاكتروني ليصلك كل جديد
		</h3>
		<form class="w-full max-w-sm">
			<div class="flex items-center border-b border-[#EA580C] py-2">
				<button class="flex-shrink-0 bg-[#EA580C] hover:bg-[#d45009] border-[#EA580C] hover:border-[#d45009] text-sm border-4 text-white py-1 px-2 rounded" type="button">
					تسجيل
				</button>
			  <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="test@email.com" dir="ltr" aria-label="Email">
			</div>
		</form>
	</div>
	<div class="flex justify-center" x-intersect="$el.classList.add('scaleIn')">
		<img class="drop-shadow lg:w-[80%]" src="http://127.0.0.1:8000/media/uploads/banner/furniture-banner.png" alt="Hero Image">
	</div>
</div>