<div class="flex items-center justify-between px-6 pt-6 my-12 mx-10 bg-[#f78e4813] shadow rounded-lg">
	<div class="w-1/2 flex flex-col items-center space-y-6 font-tajawal">
		<h1 class="max-w-xl text-5xl text-gray-800 text-center font-semibold">
			أفضل العروض و بأسعار مغرية اغتنم فرتصك الأن
		</h1>
		<h3 class="text-gray-700 text-lg font-medium">
			سجل بريدك الاكتروني ليصلك كل جديد
		</h3>
		<form class="w-full max-w-sm">
			<div class="flex items-center border-b border-[#EA580C] py-2">
				<button class="flex-shrink-0 bg-[#EA580C] hover:bg-[#d45009] border-[#EA580C] hover:border-[#d45009] text-sm border-4 text-white py-1 px-2 rounded" type="button">
					تسجيل
				</button>
			  <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="البريد الاكتروني " dir="rtl" aria-label="Email">
			</div>
		</form>
	</div>
	<div class="flex justify-center">
		<img class="w-[80%] drop-shadow" src="https://www.bhadepay.com/assets/images/furniture-banner.png" alt="Hero Image">
	</div>
</div>