{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-start">

	<div class="flex flex-col items-start space-y-6 w-full">
		<h1 class="text-3xl text-gray-800 font-medium font-elmessiri">
			المنتجات المميزة
		</h1>
		<div class="flex flex-wrap items-center justify-center lg:space-x-[100px]">
			{% for category in categories %}
				<div class="bg-[#ff7e2e17] rounded-lg p-4 transition duration-500 hover:bg-[#ff8a4254] my-2 lg:ml-[100px]">
					<a href="{{category.get_absolute_url}}" class="flex flex-col items-center space-y-2 duration-500 hover:scale-110">
						<img src="{{category.image.url}}" alt="Category Image" width="100" height="100" />
						<h3 class="text-gray-800 text-lg font-elmessiri font-medium">
							{{category.name}}
						</h3>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="flex flex-row flex-wrap justify-around my-16">
		<div class="w-1/4 flex flex-row items-center justify-center bg-[#ff8a421e] p-6 rounded duration-300 hover:bg-[#ff8a4254]">
			<div class="flex flex-col items-center space-y-3">
				<h2 class="text-gray-800 text-3xl font-elmessiri">
					الله اني أعوذ بك من فجأة الأمور
				</h2>
				<a href="" class="max-w-md text-gray-50 text-xl font-elmessiri bg-[#ff8a428f] p-2 rounded">عرض المزيد</a>
			</div>
			<div class="flex items-center justify-center">
				<img src="http://127.0.0.1:8000/media/uploads/category/arch-chair-pebble-green-boucle-fabric-with-black-metal-legs-100205105-01-main.webp" alt="Image" width="200">
			</div>
		</div>
		<div class="w-1/4 flex flex-row items-center justify-center bg-[#4294ff1e] p-6 rounded duration-300 hover:bg-[#4294ff5d]">
			<div class="flex flex-col items-center space-y-3">
				<h2 class="text-gray-800 text-3xl font-elmessiri">
					الله اني أعوذ بك من فجأة الأمور
				</h2>
				<a href="" class="max-w-md text-gray-50 text-xl font-elmessiri bg-[#4294ff91] p-2 rounded">عرض المزيد</a>
			</div>
			<div class="">
				<img src="http://127.0.0.1:8000/media/uploads/category/sunderland-upholstered-bed-grey-icon-linen.webp" alt="Image" width="200">
			</div>
		</div>
		<div class="w-1/4 flex flex-row items-center justify-center bg-[#ff8a421e] p-6 rounded duration-300 hover:bg-[#ff8a4254]">
			<div class="flex flex-col items-center space-y-3">
				<h2 class="text-gray-800 text-3xl font-elmessiri">
					الله اني أعوذ بك من فجأة الأمور
				</h2>
				<a href="" class="max-w-md text-gray-50 text-xl font-elmessiri bg-[#ff8a428f] p-2 rounded">عرض المزيد</a>
			</div>
			<div class="">
				<img src="http://127.0.0.1:8000/media/uploads/category/9396706.png" alt="Image" width="200">
			</div>
		</div>
	</div>

	<div class="flex flex-col items-start space-y-6 w-full">
		<h1 class="text-3xl text-gray-800 font-medium font-elmessiri">
			المنتجات المميزة
		</h1>
		<div class="flex flex-wrap items-center justify-center">
			{% for product in products %}
				{% comment %} <div class="p-2 pt-6 transition duration-500 my-2 lg:ml-[100px] shadow rounded-lg">
					<a href="{{product.get_absolute_url}}" class="flex flex-col items-center my-3">
						<img class="duration-500 hover:scale-125" src="{{product.image.url}}" alt="Category Image" width="200" height="200" />
						<div class="m-2 md:m-6">
							<a href="#" class="text-gray-600 text-md font-tajawal font-medium w-full">{{product.category.name}}</a>
							<h3 class="max-w-md text-gray-800 text-md font-poppins" dir="ltr">
								{{product.name | truncatechars:25}}
							</h3>
						</div>
					</a>
					<div class="my-2">
						☆★★★
					</div>
					<div class="flex flex-row items-center justify-between">
						<h3 class="text-orange-600 text-lg font-marhey">
							{{product.price}}دج
						</h3>
						<button class="flex items-center bg-orange-600 px-6 py-2 font-marhey rounded">
							<span class="ml-2 text-gray-50">
								أضافة
							</span>
							<svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="10" cy="19" r="1.5" stroke="#fff"></circle> <circle cx="17" cy="19" r="1.5" stroke="#fff"></circle> <path d="M3.5 4H5.5L9.00446 15H17" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M8.22445 12.5L6.29862 6.5H18.8063C19.1476 6.5 19.3885 6.83435 19.2806 7.15811L17.614 12.1581C17.5459 12.3623 17.3548 12.5 17.1396 12.5H8.22445Z" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</button>
					</div>
				</div> {% endcomment %}
				<div class="mx-auto my-6">
					<div class="max-w-sm w-72 h-[455px] bg-white shadow-sm rounded-lg">
						<a href="{{product.get_absolute_url}}">
							<img class="rounded-t-lg p-8 duration-500 hover:scale-110" src="{{product.image.url}}" alt="product image">
						</a>
							<div class="px-5 pb-5">
								<a href="{{product.get_absolute_url}}">
									<h3 class="text-gray-900 font-semibold text-lg tracking-tight" dir="ltr">
										{{product.name | truncatechars:25 }}
									</h3>
								</a>
								<div class="flex items-center mt-2.5 mb-5">
									<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
										</path>
									</svg>
									<span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded ml-3">5.0</span>
								</div>
								<div class="flex items-center justify-between w-full">
									<h3 class="text-orange-600 text-lg font-marhey">
										{{product.price}}دج
									</h3>
									<button class="flex items-center bg-orange-600 px-4 py-1 font-marhey rounded">
										<span class="text-gray-50">
											أضافة
										</span>
										<svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="10" cy="19" r="1.5" stroke="#fff"></circle> <circle cx="17" cy="19" r="1.5" stroke="#fff"></circle> <path d="M3.5 4H5.5L9.00446 15H17" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M8.22445 12.5L6.29862 6.5H18.8063C19.1476 6.5 19.3885 6.83435 19.2806 7.15811L17.614 12.1581C17.5459 12.3623 17.3548 12.5 17.1396 12.5H8.22445Z" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
									</button>
								</div>
							</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</div>
{% endblock %}